<b>About Us</b>
<br><br><br>
An Encompassing Insightful Experience- Give Power to Your Train Travel Decision-Making<br><br>
<i><b>Travel is fun and when it comes to train travel, we go into the bypaths and un-trodden depths of wilderness and travel explorations to tell the world the glories of our journey!</i></b>
<br><br>
<b>What makes us drive through?</b><br>
Our Motto: Simplifying Train Travels
With over 23.9 million passengers traveling and commuting daily by train, RailYatri aims to serve its passengers with inclusive and comprehensive information that helps those making informed decisions, thus simplifying their train travels.RailYatri.in is a premier portal for Indian Railways train travellers. We strive to be the fastest, mobile-friendly site that answers all your train travel questions in a few taps. A comprehensive hub of train travel information that dedicatedly works to give its users insightful information, all under one roof, to help them plan and take their train travel decisions in a better way..
<br><br>
<b>How and Why We Started?</b><br>
The journey of RailYatri started two years back when a handful of technology experts got together to remove the information black-box that shrouds information regarding Indian Railways. Indian Railways is the preferred transportation mode for a vast majority of Indian population, yet pertinent information is not readily available and the information rather available is scattered. It is then, RailYatri stepped in to tackle such worries of its railway passengers. It has always aimed to be the capable train travel advisor helping passengers make informed decisions about their train travel.
<br><br>
We, at RailYatri do not just stop at presenting the dry numbers, but provide insights behind them. We offer analytical based information that makes us standout alone of the other sources of information. This is why our users’ base has been growing with every passing day.
<br><br>
<b>Appreciation as a Travelers’ Delight</b><br>
RailYatri has been awarded and recognized as one of the best travel and tourism apps of 2014. RailYatri has won the mBillionth South Asia Award and has also bagged the Best Utility Award in the Vodafone Appstar contest. In addition to this, RailYatri has been continuously receiving vigorous critical appreciation throughout in various print and online media publishing.
<br><br>
<b>A step ahead convenience: Intelligence based Information</b><br>
RailYatri aims to work in accordance with the needs of its train travelers. It always updates features that simplify the train journeys of the passengers.Yes, there are many other train travel related apps and websites, but do they help in making your travel easy? Here is a quick go-through of what information do we serve our passengers that make us stand out of the crowd:
<br><br>
<li>PNR status information with Confirmation Probability.</li>
<li>Live Train Status, but with real time GPS Location mechanism that makes the experience fun and fascinating.</li>
<li>Time table of trains with Offline time table feature, so that one may check it without Internet connectivity.</li>
<li>You can avoid the delayed trains by studying the running time statistics of the trains between two stations.</li>
<li>If you are a daily commuter through local trains and metros, find all the information in the RailYatri.</li>
<li>Fantasy and fun: Get to know the real time speed of your train and various trivia’s about Indian Railways and the stations.</li>
<li>Live Trip Sharing.</li>