<div><head><h1>CHANDIGARH EXP (19307)</h1>
  <link rel="stylesheet" type="text/css" href="table.css">
</head>
<br><br>
<table class="table" align="center" cellspacing="15">
    
    <thead>
       
      <tr>
        <th scope="col">SN</th>
        <th scope="col" colspan="2">Route</th>
        <th scope="col"colspan="2">Arrival Time</th>
        <th scope="col"colspan="2">Departure Time</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2" align="center">Indore JN</td>
        <td colspan="2"align="center">Start</td>
        <td colspan="2"align="center">05:30</td>

      </tr>
      <tr class="active-row">
        <th scope="row">2</th>
        <td colspan="2"align="center">Ujjain JN</td>
        <td colspan="2"align="center">07:25</td>
        <td colspan="2"align="center">07:40</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"align="center">Guna</td>
        <td colspan="2"align="center">13:30</td>
        <td colspan="2"align="center">13:40</td>
      </tr>
      <tr class="active-row">
        <th scope="row">4</th>
        <td colspan="2"align="center">Gwalior</td>
        <td colspan="2"align="center">18:02</td>
        <td colspan="2"align="center">18:10</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2"align="center">Mathura</td>
        <td colspan="2"align="center">20:48</td>
        <td colspan="2"align="center">20:50</td>
      </tr>
      <tr class="active-row">
        <th scope="row">6</th>
        <td colspan="2"align="center">Chandigarh JN</td>
        <td colspan="2"align="center">05:00</td>
        <td colspan="2"align="center">End</td>
      </tr>
            
    </tbody>
  </table>
  <br><br>
  <a class="btn-primary" href="http://127.0.0.1:5000/book" role="button">Book Now</a>
</div>