FAQs
<br><br>
<b>Q) How much time does RailYatri take to initiate refund?</b>
<br><br>
A: On confirmation of the cancellation, RailYatri initiates the refund within 24 Hours.
<br><br><br><br>
<b>Q) How much time does it take for the money to reflect in my bank account?</b>
<br><br>
A: Once the refund is initiated from our end, it takes 2-3 working days in case of Private Bank or SBI and 5-7 working
days in case of other Banks. However, refunds in our e-wallet - RY Wallet is instant.
<br><br><br><br>
<b>Q) What should I do if my money is not reflected in the given time lines?</b>
<br><br>
A: Use the refund ID given by us to speak to your Bank/Payment Gateway and know the status of your refund easily.