<html>
    <img src="/static/Screenshot_20230102_074055.png" alt="Image Not Found" height="80" width="200">
    <h1>WELCOME!</h1>
    <h2>CHOOSE AN ACTION</h2>
    
   
    <div>
    <button ><a class="button" href="http://127.0.0.1:5000/signup" > Sign Up </a> </button>
    <h3>OR</h3>
    
    <a class="button" href="http://127.0.0.1:5000/login">Login</a>
</div>
<style>
    h1{
        color: red;
        font-size:160%;
        text-align: center;
    }
    h2{
        color: rgb(81, 255, 0);
        text-align: center;
    }
    a {
        color: blue;
        font-size: 200%;
        text-align: center;
    }
    div{
        text-align: center;
    }
    img{
        text-align: left;
    }
</style>
</html>