<html>
</head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="cascading_style_sheet.css">
<head>
<body>
    <div class="Login">
        <h1>Login</h1> 
        <form>
            <input type="email" name="username" placeholder="Enter name"><br><br>
            <input type="password" name="password" placeholder="Enter password"><br><br>
            <button type="button" class="Log-in">Login</button>
             <p>Don't have an account ?<a href="signup.html">sign-up</a></p>
        </form>
    </div>

</body>
</html>