<div><head><h1>Malwa SuperFast EXP (12919)</h1>
  <link rel="stylesheet" type="text/css" href="table.css">
</head>
<br><br>
<table class="table" align="center"  cellspacing="15">
    
    <thead>
       
      <tr>
        <th scope="col">SN</th>
        <th scope="col" colspan="2">Route</th>
        <th scope="col"colspan="2">Arrival Time</th>
        <th scope="col"colspan="2">Departure Time</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2" align="center">Indore JN</td>
        <td colspan="2"align="center">Start</td>
        <td colspan="2"align="center">12:15</td>

      </tr>
      <tr class="active-row">
        <th scope="row">2</th>
        <td colspan="2"align="center">Ujjain JN</td>
        <td colspan="2"align="center">13:45</td>
        <td colspan="2"align="center">14:00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"align="center">Bhopal</td>
        <td colspan="2"align="center">17:20</td>
        <td colspan="2"align="center">17:30</td>
      </tr>
      <tr class="active-row">
        <th scope="row">4</th>
        <td colspan="2"align="center">Gwalior</td>
        <td colspan="2"align="center">22:55</td>
        <td colspan="2"align="center">22:57</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2"align="center">Mathura JN </td>
        <td colspan="2"align="center">01:23</td>
        <td colspan="2"align="center">01:25</td>
      </tr>
      <tr class="active-row">
        <th scope="row">6</th>
        <td colspan="2"align="center">S M V D Katra</td>
        <td colspan="2"align="center">17:10</td>
        <td colspan="2"align="center">End</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <a class="btn-primary" href="http://127.0.0.1:5000/book" role="button">Book Now</a>
</div>
