<head><b>Panchvalley EXP (19343)</b></head>
<br><br>
<table class="table" border="2"  cellspacing="15">
    
    <thead>
       
      <tr>
        <th scope="col">SN</th>
        <th scope="col" colspan="2">Route</th>
        <th scope="col"colspan="2">Arrival Time</th>
        <th scope="col"colspan="2">Departure Time</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2" align="center">Indore JN</td>
        <td colspan="2"align="center">Start</td>
        <td colspan="2"align="center">13:05</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2"align="center">Dewas JN</td>
        <td colspan="2"align="center">13:58</td>
        <td colspan="2"align="center">14:00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"align="center">Sujalpur</td>
        <td colspan="2"align="center">15:46</td>
        <td colspan="2"align="center">15:48</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2"align="center">Hoshangabad</td>
        <td colspan="2"align="center">20:43</td>
        <td colspan="2"align="center">20:45</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2"align="center">Betul</td>
        <td colspan="2"align="center">23:12</td>
        <td colspan="2"align="center">23:15</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2"align="center">Chhindwara JN</td>
        <td colspan="2"align="center">03:30</td>
        <td colspan="2"align="center">End</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button> <a class="btn btn-primary" href="http://127.0.0.1:5000/book" role="button">Book Now</a></button>