<head><b>Ranthambore EXP (12465)<b></head>
<br><br>
<table class="table" border="2"  cellspacing="15">
    
    <thead>
       
      <tr>
        <th scope="col">SN</th>
        <th scope="col" colspan="2">Route</th>
        <th scope="col"colspan="2">Arrival Time</th>
        <th scope="col"colspan="2">Departure Time</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2" align="center">Indore JN</td>
        <td colspan="2"align="center">Start</td>
        <td colspan="2"align="center">06:00</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2"align="center">Ujjain JN</td>
        <td colspan="2"align="center">06:30</td>
        <td colspan="2"align="center">06:32</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"align="center">Nagda</td>
        <td colspan="2"align="center">08:57</td>
        <td colspan="2"align="center">09:00</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2"align="center">Kota</td>
        <td colspan="2"align="center">12:25</td>
        <td colspan="2"align="center">12:30</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2"align="center">Sawai Madhopur </td>
        <td colspan="2"align="center">14:10</td>
        <td colspan="2"align="center">14:30</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2"align="center">Jodhpur JN</td>
        <td colspan="2"align="center">22:30</td>
        <td colspan="2"align="center">End</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button> <a class="btn btn-primary" href="http://127.0.0.1:5000/book" role="button">Book Now</a></button>