<head><b>Shipra EXP (22911)</b></head>
<br><br>

<table class="table" border="2"  cellspacing="15">
    
    <thead>
       
      <tr>
        <th scope="col">SN</th>
        <th scope="col" colspan="2">Route</th>
        <th scope="col"colspan="2">Arrival Time</th>
        <th scope="col"colspan="2">Departure Time</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2" align="center">Indore JN</td>
        <td colspan="2"align="center">Start</td>
        <td colspan="2"align="center">23:00</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2"align="center">Ujjain JN</td>
        <td colspan="2"align="center">00:55</td>
        <td colspan="2"align="center">01:10</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2"align="center">Vidisha</td>
        <td colspan="2"align="center">05:00</td>
        <td colspan="2"align="center">05:02</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2"align="center">Prayagraj JN</td>
        <td colspan="2"align="center">16:35</td>
        <td colspan="2"align="center">16:40</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2"align="center">Gaya JN </td>
        <td colspan="2"align="center">23:10</td>
        <td colspan="2"align="center">23:15</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2"align="center">Howrah</td>
        <td colspan="2"align="center">06:55</td>
        <td colspan="2"align="center">End</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button> <a class="btn btn-primary" href="http://127.0.0.1:5000/book" role="button">Book Now</a></button>