<html>
  <head>
    <title>Sign-up</title>
    <link rel="stylesheet" type="text/css" href="cascading_style_sheet.css">
  </head>
  <body>
    <div class="Sign">
      <h1>Sign Up</h1>
      <form method="post" action="#">
        <input type="email" placeholder="Enter name"><br><br>
        <input type="password" placeholder="Enter password"><br><br>
        <button type="button" class="submit">Sign Up</button>
        <p>Do you have an account ? <a href="login.html">login</a></p>
      </form>
    </div>
  </body>
</html>